h1 {
font-family: fantasy;
text-align: center;
color:chartreuse
}



.product-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #8e4700;
    border-radius: 6px;
    overflow: hidden;
}

.product-table th,
.product-table td {
    padding: 16px;
    border-right: 1px dashed #cd0f0f;
    border-bottom: 1px dashed #051ede;
}

.product-table th:last-child,
.product-table td:last-child {
    border-right: none;
}

.product-table tr:last-child td {
    border-bottom: none;
}