*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#ffffff;
}

.container{
    width:580px;
    margin:30px auto;
    padding:20px;
    background:#ffffff;
    border:1px solid #999;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.3);
}

h1{
    color:#0035d6;
    font-size:40px;
    font-style:italic;
    margin-bottom:20px;
}

label{
    display:block;
    color:#234b58;
    font-size:24px;
    font-style:italic;
    font-weight:bold;
    margin:15px 0 5px;
}

input,
textarea{
    width:100%;
    padding:10px;
    border:1px solid #aaa;
    box-shadow:inset 0 0 5px rgba(0,0,0,.2);
    font-size:16px;
}

textarea{
    resize:none;
    height:100px;
}

button{
    width:100%;
    margin-top:15px;
    padding:10px;
    border:1px solid #999;
    background:#e5e5e5;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#d5d5d5;
}